*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 1360px;
    height: 70px;
    padding: 16px 200px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul{
     display: flex;
     gap: 50px;
}
nav{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
 span{
    color:rgba(251, 9, 180, 1);
}
p{
    color: green;
    font-size: 40px;
    font-weight: bolder;
}
nav .nav-button{
    text-align: center;
    color: white;
    width: 130px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 30px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}