*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 12, 31);
}
header{
    width: 1358px;
    height: 70px;
    padding: 16px 200px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul{
    color: white;
     display: flex;
     gap: 50px;
}
nav{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
 span{
    color:rgba(251, 9, 180, 1);
}
p{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
nav .nav-button{
    text-align: center;
    color: white;
    width: 130px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 30px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.hero{
  background-image: url("./assets/hero-bg.png");
    width: 100vw;
  height: 500px;
   background-position: center;
   justify-content: center;
   align-items: center;
   position: relative;
}
.hero-circle img{
    position: absolute;
    width: 370px;
    height: 360px;
    padding: 20px;
    left: 36%;  
}
.hero-mic img{
    position: absolute;
    top:15%;
    left: 45%;  
}
.hero-btn button {
    width: 201px;
    height: 44px;
    border-radius: 20px;
    justify-content: space-between;
}
.hero-btn button img {
  width: 20px;
  height: 20px;
}
.hero-btn #hbtn1{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.hero-btn #hbtn2{
    color: white;
    background-color: transparent;
    border: 1px solid green;
}
.hero-text h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    width: 550px;
    height: 73px;
    text-align: center;
}
.hero-text p{
    font-size: 16px;
    width: 550px;
    height: 19px;
    text-align: center;
}
.hero-text{
   padding: 20px;
    position: absolute;
    width: 550px;
    height: 100px;
    top:63%;
    left: 27%;
}
.hero-btn{
    position: absolute;
    top: 88%;
    left: 35%;
}
.about-text h1{
    width: 1200px;
    height: 58px;
    padding: 20px;
    font-size:48 ;
    font-weight: bold;
    color: white;
    text-align: center;
}
.about-text p{
    width: 1200px;
    height: 148px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: gainsboro;
}
.publicity{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    line-height: 0%;
}
.publicity p{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: gainsboro;
}
.publicity h1{
    color: rgba(0, 255, 136, 1);
    padding: 20px;
    font-size:50px;
   font-weight: bolder;
    text-align: center;
}
.headphone ,.mobile, .location, .zap, .book{
    width: 380px;
    height: 400px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.headphone p {
    color: rgb(191, 187, 187);
    width: 300px;
    height: 144px;
    font-size: 14px;
}
.mobile p {
    color: rgb(203, 196, 196);
    width: 300px;
    height: 144px;
    font-size: 14px;
}
.location p {
    color: rgb(186, 182, 182);
    width: 300px;
    height: 144px;
    font-size: 14px;
}
.zap p {
    color: rgb(179, 174, 174);
    width: 300px;
    height: 144px;
    font-size: 14px;
}
.book p {
    color: rgb(174, 169, 169);
    width: 300px;
    height: 144px;
    font-size: 14px;
}
.headphone h3 {
    color: white;
    width: 300px;
    height: 29px;
    font-size: 24px;
}
.mobile h3 {
    color: white;
 width: 300px;
    height: 29px;
    font-size: 24px;
}
.location h3 {
    color: white;
   width: 300px;
    height: 29px;
    font-size: 24px;;
}
.zap h3 {
    color: white;
   width: 300px;
    height: 29px;
    font-size: 24px;;
}
.book h3 {
    color: white;
    width: 300px;
    height: 29px;
    font-size: 24px;;
}
.zap img{
    width: 60px;
    height: 60px;
    background-color: orchid;
    border-radius: 50%;
}
.Card-container{
    margin-top: 40px;
    line-height: 30px;
    display: grid;
    row-gap: 10px;
  grid-template-columns: repeat(4,1fr);
}